.content2 {
	background: url(../../images/2.png) center;
	min-width: 100%;
	height: 2247px;

	.comwidth {
		width: 1226px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;

		button {
			width: 434px;
			height: 219px;
			background: url(../../images/btn.png) no-repeat;
			padding: 0px;
			border: 0px;
			margin: 450px 0px 0px 410px;
			cursor: pointer;
		}

		.type {
			margin:300px auto 0px;
			li {
				float: left;
				margin-right:32.5px;
			}

		}
		.sword{
			margin:0px auto ;
			background:url(../../images/sword_init.png) center/80% no-repeat;
			height:508px;
		}
	}

}
