.content4 {
	background: url(../../images/video_bg.png) center no-repeat;
	min-width: 100%;

	.title {
		img {
			width: 1226px;
			height: 70px;
			margin:0 auto;
		}

	}

	.videobox {
		margin: 100px auto 0px;
		height: 568px;
		position: relative;

		.videolist {
			position: absolute;
			top: 178px;
			left: 165px;
			min-width:1610px;
			.videoitem {
				float: left;
				margin-right: 50px;
				width:468px;
				height:308px;
				position:relative;
				&:first-child{
					background:url(../../images/videobox1.png) no-repeat ;
				}
				&:nth-child(2){
					width:524px;
					height:310px;
					background:url(../../images/videobox2.png) no-repeat;
				}
				&:nth-child(3){
					background:url(../../images/videobox3.png) no-repeat;
				}
				iframe{
					position:absolute;
					top:17px;
					left:46px;
				}
			}

		}

	}

}
