.content4 {
	background: url(../../images/video_bg.png) center no-repeat;
	min-width: 100%;

	.title {
		img {
			width: 1226px;
			height: 70px;
			margin:0 auto;
		}

	}

	.videobox {
		margin: 100px auto 0px;
		height: 568px;
		position: relative;

		.videolist {
			position: absolute;
			top: 178px;
			left: 165px;
			min-width:1610px;
			.videoitem {
				float: left;
				margin-right: 50px;
				width:468px;
				height:308px;
				position:relative;
				background:url(../../images/videobox.png) no-repeat ;
				text-align:center;		
				iframe{
					position:absolute;
					top:17px;
					left:46px;
				}
				p{
					margin-top:260px;
					font:{
						weight:bold;
						family:fonts;
						size:30px;
					}
				}
			}

		}

	}

}
