@import 'node_modules/swiper/dist/css/swiper';

.content3 {
	margin: 0 auto;
	background: url(../../images/3.png) no-repeat center;
	min-width: 100%;

	.comwidth {
		width: 1226px;
		height: 928px;
		margin: auto;
		overflow: hidden;

		.box {
			width: 744px;
			background: url(../../images/swiperbg.png) no-repeat center;
			margin-top: 300px;
			margin-left: 50px;

			.swiper-container {
				width: 560px;
				height: 379px;
				margin: 0;
				top: 50px;
				left: 70px;

				.swiper-pagination-bullets {
					span {
						margin: 0 17px 0 1px;
						position: relative;
						display: inline-block;
						width: 32px;
						height: 32px;

						&:after {
							content: "";
							display: inline-block;
							width: 31px;
							height: 7px;
							background: url(../../images/circle.png) center no-repeat;
							position: absolute;
							top: 12px;
							left: 25px;
						}

						&:first-child:before {
							content: "";
							display: inline-block;
							width: 31px;
							height: 7px;
							background: url(../../images/circle.png) center no-repeat;
							position: absolute;
							top: 12px;
							left: -24px;
						}

						&:hover {
							cursor: pointer;
						}

					}

				}

				.black {
					background: url(../../images/noactive.png);
				}

				.red {
					background: url(../../images/active.png);
				}

			}

		}

	}

}
